-i https://mirrors.aliyun.com/pypi/simple/
Flask==2.2.3
opml==0.5
feedparser==6.0.10
openai>=0.26.5
beautifulsoup4==4.11.2
bs4==0.0.1
python-dotenv==0.21.0
flask-restx >= 0.5.0
web3==5.31.3
Flask-SQLAlchemy==3.0.3
psycopg2==2.9.5
ipfshttpclient==0.8.0a2
Flask-Login==0.6.2
Flask-Cors==3.0.10
locked-dict==2022.7.25
Flask-APScheduler==1.12.4
Flask-JWT-Extended==4.4.4